{% extends 'base.html.twig' %}
{% block title %}Home Drive - Światło{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/lightswitch.css') }}>
{% endblock %}

{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1>Temperatura</h1>
    <p>Sprawdzanie i regulowanie temperatury w pomieszczeniach.</p>
  </div>
<form class="" action={{path('temp_setter')}} method="post">

  <table class="table table-striped">
    <tr><th>Pomieszczenie</th><th>Aktualna temperatura</th>
        <th>Wymagana temperatura</th><th>Tolerancja</th></tr>
    {% for room, info in rooms %}
        <tr>
          <th>{{ room }}</th>
          <td>
              <p>
                  {{ info[1] }}°C
              </p>
          </td>
          <td>
              <input type="text" name="required_temp{{ room }}" value={{ info[2] }} />
          </td>
          <td>
              <input type="text" name="tolerance{{ room }}" value={{ info[3] }} />
          </td>
          <!-- <td>
              <a class="btn btn-success" href={{ path("temp_setter",
              {'tid' : room, 'actual' : 1, 'required' : 1, 'tolerance' : 1}) }}>Ustaw</a>
          </td> -->
    	</tr>
    {% endfor %}
<tr>
    <th colspan="4">
        <center>
            <input type="submit" class="btn btn-success" name="send" value="Zapisz zmiany" />
        </center>
    </th>
</tr>
  </table>
</div>

</form>
{% endblock %}
