<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Bootstrap -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <!-- available stylesheets: flat darkly solar simplex superhero -->
        <link rel="stylesheet" href={{ asset('css/flat.min.css') }}>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Bootstrap ends here -->

    </head>
    <body>
        <form action="{{ path('login') }}" method="post">
            <input type="hidden" id="username" name="_username" value="logout" />
            <input type="hidden" id="password" name="_password" value="logout" />
        </form>

        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href={{path('homedrive_index')}}>Home Drive</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <li><a href={{path('light_index')}}>Światło</a></li>
                  <li><a href={{path('blind_index')}}>Rolety</a></li>
                  <li><a href={{path('led_index')}}>LED</a></li>
                  <li><a href={{path('temp_index')}}>Temperatura</a>
                  <li><a href={{path('watervalve_index')}}>Zawór wody</a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="" onclick="document.forms[0].submit();return false;">Wyloguj</a></li>
              </ul>
            </div>
          </div>
        </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
