{% extends 'base.html.twig' %}
{% block title %}Home Drive - Rolety{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/lightswitch.css') }}>
{% endblock %}

{% block body %}
<div class="container" >
  <div class="jumbotron"
  style="background-image:url('{{asset("img/bg_blinds.jpg")}}');
         background-repeat: no-repeat;
         background-position: right; ">
    <h1>Rolety</h1>
    <p>Sterowanie roletami.</p>
  </div>

  <table class="table table-striped">
    <tr><th>Pomieszczenie</th><th>Stan</th></tr>
    {% for room, status in rooms %}
        <tr>
          <th>{{ room }}</th>
          <td>
            <a
            {% if status == "Dół" %}
            class="btn btn-danger"
            {% else %}
            class="btn btn-info"
            {% endif %}
            href={{path('blind_switchBlind', {'tid': room})}}>{{ status }}</a>
          </td>
    	</tr>
    {% endfor %}

  </table>
</div>
{% endblock %}
